*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/black.jpg);
   background-position: center;
   background-size: cover;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
nav .logo{
    color: #009688;
    font-size: 28px;
    position: relative;
}
nav .logo::after{
    content: '';
    width: 0;
    height: 3px;
    background: #009688;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: 0.5s;
}
nav .logo:hover::after{
    width: 100%;
}
nav ul li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    position: relative;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
h1{
    color: aliceblue;
}
nav ul li::after{
    content: '';
    background: aqua;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width:100%;
}
.container .details{
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    color: #fff;
}
.container .details h1{
    color: antiquewhite;
}
.container button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}
button:hover span{
    width: 100%;
    }
    button:hover{
        border: none;
    }